
<div class="homepage">
    <div class="hometittle">
        <% unless current_user.blank? %>
            <h1 class="tittles">
                Bienvenido a tu registro de calorías!
            </h1>
            <div class="groupbuttons">
                <div class="buttons">                
                        <%= link_to 'Ver mi registro', calories_registers_url, class:"button is-info"  %>   
                </div>
                <div class="buttons">                
                        <%= link_to 'Hacer nuevo registro', new_calories_register_url , class:"button is-info"  %>   
                </div>
            </div>
        <% else %>
            <h1 class="tittles">
                Bienvenido a registro de calorías!
            </h1>
            <p>
                Te invitamos a registrarte y llevar un conteo completo de tus calorías
            </p>
            <div class="groupbuttons">
            <div class="buttons">                
                <%= link_to 'Regístrate', new_user_registration_path, class:"button is-info"  %>   
            </div>
            <div class="buttons">                
                <%= link_to 'Iniciar sesión', new_user_session_path, class:"button is-info"  %>   
            </div>
            </div>
        <% end %>
    </div>
</div>